table.supervisor_table {
	border: 1px solid white;					
}

table.supervisor_table thead td {
	background-color: #707070;
	color: white;
	padding: 2px;
	min-width: 180px;
	text-align: center;	
	cursor: pointer;
}

table.supervisor_table tbody tr.supervisor_table_menu {
	background-color: #E0E0E0;					
}	

table.supervisor_table tbody td {
	padding: 2px;
}	